@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

:root {
  --dark-blue: #0a2463;
  --green: #3aafb9;
  --dark-green: #093a3e;
  --background-white: rgb(255, 255, 255, 0.7);
}

html {
  background-color: var(--gray);
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-586658.jpg");
  background-position: left top; /* sets background origin */
  background-repeat: no-repeat; /* repeated wallpapers are ugly */
}

body {
  font-family: "Cultive Mono", monospace; font-weight: bold;
}

img {
  width: 300px;
}

ul {
  margin: 0;
  padding-left: 20px; padding-top: 60px; /* my attempt at vertically centering all these lists /shrug */
}

li {
  display: inline; /* put the elements in a line */
}

a {
  color: black;
  text-decoration: none; /* removes annoying underline */
  transition: 0.3s; /* adds animation */
}

a:hover {
  color: var(--green);
}

.greeting {
  /* manually setting the width is helpful when setting position: relative */
  width: 610px; height: 23px;
  position: fixed;
  /* this centers the element */
  margin: auto;
  top: 0px; bottom: 487px; right: 0px; left: 0px;
  
  border: 2px var(--dark-blue) solid;
  background-color: var(--background-white);
  
  text-align: center;
}

.links {
  /* puts this on the left side */
  width: 300px; height: 447px;
  position: fixed;
  margin: auto;
  top: 0px; bottom: 0px; right: 310px; left: 0px;
  
  border: 2px var(--dark-blue) solid;
  background-color: var(--background-white);
}

.image {
  /* puts this on the right side */
  width: 300px; height: 447px;
  position: fixed;
  margin: auto;
  top: 0px; bottom: 0px; right: 0px; left: 310px;
  
  border: 2px var(--dark-blue) solid;
}

.title {
  color: var(--dark-green);
  font-size: 2em;
}
